@charset "utf-8";
/*=================================
global
===================================*/
html,body,div,span,h1,h2,h3,a,p,li,ul,form,label,nav,pre,i,sub,em{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {font:normal 14px "microsoft yahei","Helvetica Neue",Helvetica,sans-serif;color:#3A3A3A;background-color: #F5F5F5;-webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-font-smoothing:antialiased; -moz-user-select:none; }
a{color:#5A5A5A; text-decoration:none;outline: none;}
ul{list-style:none}
h1, h2 {font-size:100%; font-weight:500 }
h1{font-size:18px;}
h2{font-size:15px;}
img{vertical-align: middle;}


/*=================================
head
===================================*/
header{position:fixed;width:100%;top:0;z-index:100;}
.head{height:97px;margin-top: 0;position:relative;background-color: black;}
.head  h1{color:#FFFFFF; text-align: center;padding-top: 10px;}
.head .lab {margin-top: 8px;text-align: center;}
.head p{color:#A0A0A0;font-size: 13px;border:1px solid #A0A0A0;height:26px;width:78px;line-height: 26px;border-radius: 36px;}
.head .p1,.head .p2{display: inline-block }
nav{height:50px;margin-top: 0;font-size:15px;color:#3C4149;border-bottom: 1px solid #C3C3C3;background-color: #FFFFFF;font-weight: 500;overflow-x: scroll }
::-webkit-scrollbar{width:0;height:0;}
.navigation>.menu{display:flex;}
.menu-nav>a{padding-bottom:14px;border-bottom: 1px solid #FFFFFF;}
.menu-nav .active{border-bottom-color: #E2694F;}
.navigation>.menu>.menu-nav{flex:1;line-height: 50px;text-align: center; }

.whole-page{padding-top: 147px;padding-bottom: 49px;}
/*项目介绍*/
.floor-row{background-color: #FFFFFF;margin-bottom: 16px;margin-top: 0; padding:16px 12px 0 12px;color:#3A3A3A;}
.floor-row .hd{height: 21px;margin-bottom: 8px;border-bottom: 2px solid #F5F5F5;padding-bottom: 8px;}
.hd .title{padding-left:11px; }
.hd .title:before {
    content: "";
    position: absolute;
    left: 12px;
    width: 3px;
    height: 16px;
    overflow: hidden;margin-top: 2px;
    background-color:#E2694F;
}
.floor-row .content1{margin-bottom: 16px;padding-bottom:22px;}
.floor-row .content1>p{line-height: 24px;height:72px;overflow: hidden;}
.content1>a{float:right;color:#B7C0C8;}
.content2{background-color: #FFFFFF;margin-top: 16px;padding:2px 0 16px 12px;color:#3A3A3A;margin-bottom: 16px;}
.content2>.term{border-bottom:1px solid #F5F5F5;}
.content2>.term>p{padding-bottom: 12px;padding-top: 12px;}
.content2 .price-box{padding-top:12px;font-size: 17px;}
.content2 .price-box em{font-style: normal;color: #f48b25;}

/*申请条件*/
.condition>ul>li{line-height: 24px;}

/*项目优势*/
.advantage{padding-bottom: 16px;}
.advantage>ul>li{line-height: 24px;}

/*费用说明*/

.floor-row .cost{padding-bottom: 16px;}
.floor-row .cost>p{line-height: 24px;}
.cost .small-text{background-color: #F8FCFF;padding:9px 8px 8px 10px;margin-top:6px;}
.cost .small-text>small{color:#7C8389;font-size:13px;line-height:20px; }

/*费用明细*/
.floor-table{background-color: #FFFFFF;margin-top:16px; padding:16px 0 10px 0;color:#3A3A3A;}
.floor-table .hd{height: 21px;margin-bottom: 16px;padding-left: 12px;}
.table-box{padding:0;}
.table-box table{border-bottom:1px solid #F5F5F5;}
.table-box table th,.table-box table td{border-top:1px solid #F5F5F5;border-left:1px solid #F5F5F5;font-weight: normal;}
.table-box table th{padding:17px 8px 16px 8px;font-size:12px;white-space: normal;}
.table-box table td{padding:9px 8px 9px 8px;font-size:11px;}
.table-box table td:first-child{font-size: 12px;}
.table-box table th:first-child,.table-box table td:first-child{border-left:0;}

/*备注*/
.notice{background-color: #FFFFFF;margin-top: 0; padding:0px 6px 16px 15px;color:#A0A0A0;font-size: 11px;}
.bottom-space{height:16px;background-color:#F5F5F5;}

.footer{
    height:49px;
    background-color: #57646E;
    bottom: 0;left:0; right:0;
    margin-top: 16px;
    position: fixed;
}
.footer>.btn-asking{line-height:49px;left: 50%;transform:translate(-50%);position: absolute;}
.footer>button{height:49px;font-size: 16px;color: #FFFFFF;background-color:#57646E;border: 0; }


