@charset "utf-8";
/*=================================
global
===================================*/
html,body,div,span,h1,h2,h3,a,p,li,ul{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{font:normal 11px 'PingFangSC-Regular', 'Microsoft YaHei', Helvetica, Arial, sans-serif;color:#3A3A3A;background-color: #F5F5F5;-webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-font-smoothing:antialiased; -moz-user-select:none; }
pre{font-family:'PingFangSC-Regular', 'Microsoft YaHei', Helvetica, Arial, sans-serif; }
a{color:#5A5A5A; text-decoration:none;outline: none;}
ul{list-style:none}
h1, h2 {font-size:100%; font-weight:500 }
h1{font-size:16px;}
h2{font-size:16px ;}
img{vertical-align: middle;}


/*=================================
head
===================================*/
header{position:fixed;width:100%;top:0;z-index:100;}
body{padding-top: 83px;  -webkit-overflow-scrolling: touch;}
.head{height:44px;background-color:#3C4149;margin-top: 0;position:relative;}
.head-name{height:44px;line-height: 42px;}
.head .head-name>h2{color:#FFFFFF; text-align: center;}
/*nav*/
nav{margin-top: 0;background-color:#FFFFFF;}
.head-menu{height:39px;font-size: 13px; white-space: nowrap}
.head-menu .region{
    width:68px ;
    background-color:#EAEEF1;
    position: relative;
    margin-left: 0;
    margin-right:12px;
    float:left;
    }
.region .hd-item{margin-left: 0;}
.region .first-hd-item{margin-left:12px;}
.region .arrow{position: absolute;top:40%;;margin-left: 12px;width:0;height:0;line-height:0;font-size:0;*display:block;*zoom:1;vertical-align:middle;
    border-top:0 none;
    border-bottom:6px solid #B7C0C8;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}
.region .arrow-rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.head-menu2{overflow-x:scroll; }
.head-menu2>.hd-dropdown{margin: 0 30px 0 0;padding:0;display: inline-block;line-height: 39px;}
.head-menu2>.hd-dropdown>a {display: block;height:36px;}
.head-menu .region>a{display: block;height:39px;line-height: 39px;}
.head-menu2>.hd-dropdown>a{border-bottom:3px solid #FFFFFF;}
.head-menu2>.hd-dropdown>a{text-align: center;}
.head-menu .region .show-menu{text-align: center;display:block;position: absolute;top:39px ;background-color: #FFFFFF;width:68px; }
.show-menu{overflow-y: scroll;overflow-x: hidden;text-overflow: ellipsis;}
/*.show-menu::-webkit-scrollbar{width:0;}*/
.show-menu li{position: relative;font-size:12px;text-align: center;}
.show-menu li img{padding-top:15px;padding-bottom:6px;height:19px;width:28px; }
.show-menu li p{padding-bottom:7px;height:11px;white-space: nowrap; }
.show-menu ul .active{background-color: #EAEEF1;}
.head-menu2>div .active{border-bottom-color:#E2694F;}
/*=================================
介绍
===================================*/
.introduction{border:1px solid #F5F5F5;background-color:#FFFFFF;margin-top: 13px;margin-right:12px;border-radius: 6px;padding-top:14px;}
.left1{margin-left: 88px;}
.left2{margin-left: 12px;}
.introduction >.hd{padding-bottom: 12px;border-bottom:1px solid #F5F5F5;;}
.introduction>.hd>h2{padding-left: 18px;color:#3A3A3A;}
.introduction .info{margin-top: 10px;margin-bottom: 9px;border-bottom: 1px solid #F5F5F5;padding:0 0 9px 0;}
.introduction .info p {margin:0 13px 0 18px;color:#888A8A;line-height: 18px;}
.introduction .info ul{margin-left: 28px;color:#888A8A;margin-right: 18px;}
.introduction .info ul li{line-height: 18px;display:inline-block;}
.introduction .info ul li:before{content:''; width:4px; height:4px; position:absolute; margin-left: -10px;margin-top: 7px; background:#888A8A; border-radius:50%;}
.introduction .info ul .current{margin-right:27px;float:left;}
.introduction .info1 {margin-bottom: 13px;overflow-x: hidden; }
.introduction .info1 a{margin:0 0 0 18px;}
.introduction .info1 .btn1{color:#A0A0A0;font-size: 10px;padding: 2px 5px 3px 6px; border:1px solid #F5F5F5; width: 50px;float: left;margin-left:18px;margin-right: 40px; }
.introduction .info1 .price-box {font-size:15px;color:#525252;margin-left:18px;display: inline-block;}
.introduction .info1 .price-box em{font-style: normal; padding-left:10px;color: #f48b25;}
